<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  
  <header>
    <a href="/"><img id="logo" src="/img/logo.png" alt="Logo"></a>
      <nav>
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/productos">Productos</a></li>
              <li><a href="/nosotros">Nosotros</a></li>
              <li><a href="/contacto">Contacto</a></li>
          </ul>
      </nav>
      <div id="botones">
        <i class='bx bx-cart-add'></i>      
        <i class='bx bx-user' ></i>
      </div>
  </header>
  