<head>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/carrito.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<header>
  <a href="/"><img id="logo" src="/img/logo.png" alt="Logo"></a>
  <nav>
    <ul id="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/pedidos">Pedidos</a></li>
    </ul>
  </nav>
  <div id="botones">
    <i class='bx bx-menu' id="menu-icon"></i>
    <i class='bx bx-search-alt-2' id="search-icon"></i>
    <div class="container-cart-icon">
        <i class='bx bx-cart-add icon-cart'></i>
        <div class="count-products"><span id="contador-productos">0</span></div>
    </div>
    <div id="user-menu">
        <a href="#" id="user-link">
            <i class='bx bx-user' id="user-icon"></i>
            <span id="user-status" class="hidden"></span>
        </a>
        <ul id="user-dropdown" class="hidden">
            <li><a href="#" id="logout-button">Cerrar Sesión</a></li>
        </ul>
    </div>
  </div>
</header>

<!-- Carrito emergente -->
<div class="container-cart-products hidden-cart">
  <div class="row-product"></div>
  <div class="cart-total hidden">
    <h3>Total:</h3>
    <span class="total-pagar">$0</span>
    <a href="/pago" class="btn-pagar">Pagar</a>
  </div>
  <p class="cart-empty">El carrito está vacío</p>
</div>

<div id="search-box" class="search-box hidden">
  <form id="search-form" action="/productos" method="GET">
    <input 
      type="text" 
      name="q" 
      id="search-input" 
      placeholder="Buscar productos o categorías..." 
      required>
  </form>
</div>

<script src="/js/header.js"></script>
<script src="/js/carrito.js"></script>