<section class="section-productos-inicio">
    <div class="container">
        <div class="swiper productosSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-arroz.avif" alt="Arroz en Oferta" class="card-image">
                        <h1 class="card-title">Arroz Premium</h1>
                        <p class="card-price"><span class="precio-antiguo">$500</span> $350</p>
                    </a>
                </div>
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-refresco.jpg" alt="Refresco en Oferta" class="card-image">
                        <h1 class="card-title">Refresco Familiar</h1>
                        <p class="card-price"><span class="precio-antiguo">$400</span> $280</p>
                    </a>
                </div>
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-arroz.avif" alt="Arroz en Oferta" class="card-image">
                        <h1 class="card-title">Arroz Premium</h1>
                        <p class="card-price"><span class="precio-antiguo">$500</span> $350</p>
                    </a>
                </div>
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-refresco.jpg" alt="Refresco en Oferta" class="card-image">
                        <h1 class="card-title">Refresco Familiar</h1>
                        <p class="card-price"><span class="precio-antiguo">$400</span> $280</p>
                    </a>
                </div>
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-arroz.avif" alt="Arroz en Oferta" class="card-image">
                        <h1 class="card-title">Arroz Premium</h1>
                        <p class="card-price"><span class="precio-antiguo">$500</span> $350</p>
                    </a>
                </div>
                <div class="swiper-slide card-item">
                    <a href="#" class="card-link">
                        <img src="/img/temporal-refresco.jpg" alt="Refresco en Oferta" class="card-image">
                        <h1 class="card-title">Refresco Familiar</h1>
                        <p class="card-price"><span class="precio-antiguo">$400</span> $280</p>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>