<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado Sim贸n</title>
    <link rel="stylesheet" href="/css/carrusel.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/sorteo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/img/carrusel-1.jpg" alt="Promoci贸n 2"></div>
          <div class="swiper-slide"><img src="/img/carrusel-2.jpg" alt="Promoci贸n 3"></div>
          <div class="swiper-slide"><img src="/img/carrusel-3.jpg" alt="Promoci贸n 4"></div>
        </div>
      
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>  

    <section class="sorteo">
        <div class="sorteo-container">
            <img src="/img/sorteo.jpg" alt="Sorteo Supermercado Sim贸n">
            <div class="sorteo-info">
                <h2> 隆Participa en nuestro Gran Sorteo!</h2>
                <p>Compra en Supermercado Sim贸n y gana <b>premios incre铆bles</b>.  
                隆Solo tienes que realizar una compra de RD$300 o m谩s, se te proporciona un boleto el cual llenas los espacios en blanco, lo insertas en la t贸mbola y entrar谩s autom谩ticamente en el sorteo!</p>
                <input type="datetime-local" id="fechaSorteo">
                <p>Tiempo restante: <strong><span id="contador">--d --h --m --s</span></strong></p>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/js/carrusel.js"></script>
    <script src="/js/sorteo.js"></script>
</body>
</html>