<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros | Supermercado Simón</title>
    <link rel="stylesheet" href="/css/nosotros.css">
</head>
<body>
    <%- include('partials/header') %>

    <section class="nosotros-container">
        <div class="intro-box">
            <h1>Nosotros</h1>
            <p>En Supermercado Simón, nuestro objetivo es ofrecer productos de alta calidad a precios accesibles, brindando un excelente servicio al cliente y fomentando una comunidad saludable y sostenible.</p>
        </div>

        <div class="info-sections">
            <div class="info-box mission">
                <h2>Misión</h2>
                <p>Brindar a nuestra comunidad una experiencia de compra excepcional, ofreciendo productos de alta calidad a precios competitivos, mientras mantenemos un compromiso firme con el servicio al cliente y el desarrollo sostenible. Nos esforzamos por construir relaciones duraderas con nuestros clientes, proveedores y la comunidad, fomentando un ambiente de confianza y respeto</p>
            </div>

            <div class="info-box vision">
                <h2>Visión</h2>
                <p>Ser el supermercado líder en la zona sur de Santiago de los Caballeros, reconocidos por nuestra innovación en el servicio y la calidad de nuestros productos. Aspiramos a expandir nuestras operaciones mediante la apertura de nuevos establecimientos que reflejen nuestros valores familiares y nuestro compromiso con el crecimiento sostenible, contribuyendo al bienestar económico y social de nuestra comunidad.</p>
            </div>

            <div class="info-box values">
                <h2>Valores</h2>
                <ul>
                    <li><strong>Compromiso:</strong> Dedicación a ofrecer lo mejor a nuestros clientes y colaboradores.</li>
                    <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras interacciones.</li>
                    <li><strong>Calidad:</strong> Buscamos constantemente la mejora en nuestros productos y servicios. </li>
                    <li><strong>Respeto:</strong> Valoramos a nuestros empleados, clientes y proveedores, fomentando un ambiente inclusivo.</li>
                    <li><strong>Innovación:</strong> Promovemos la creatividad y la adaptación ante los cambios del mercado para seguir siendo relevantes.</li>
                    <li><strong>Sostenibilidad:</strong> Nos comprometemos a operar de manera responsable, minimizando nuestro impacto ambiental y apoyando iniciativas comunitarias.</li>
                </ul>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>