body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sorteo {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.sorteo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.sorteo-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

.sorteo-info {
    text-align: left;
    width: 100%;
    max-width: 600px;
}

.sorteo-info h2 {
    font-size: 2em;
    color: #e74c3c;
    margin-bottom: 10px;
}

.sorteo-info p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.sorteo-info input[type="datetime-local"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sorteo-info #contador {
    font-size: 1.5em;
    color: #e74c3c;
}

#fechaSorteo.admin-only {
    display: none;
}

#fechaSorteo.admin-only.visible {
    display: block;
}

.admin-only {
    display: none;
}

.admin-only.visible {
    display: block;
}

/* Media Queries */
@media (max-width: 768px) {
    .sorteo-container {
        flex-direction: column;
        padding: 15px;
        max-width: 90%;
    }

    .sorteo-container img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sorteo-info {
        text-align: center;
    }

    .sorteo-info h2 {
        font-size: 1.6em;
    }

    .sorteo-info p {
        font-size: 1em;
    }

    .sorteo-info input[type="datetime-local"] {
        padding: 8px;
    }

    .sorteo-info #contador {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .sorteo-container {
        padding: 10px;
        max-width: 95%;
    }

    .sorteo-info h2 {
        font-size: 1.4em;
    }

    .sorteo-info p {
        font-size: 0.9em;
    }

    .sorteo-info input[type="datetime-local"] {
        padding: 6px;
    }

    .sorteo-info #contador {
        font-size: 1.1em;
    }
}